fieldset{
  border: none;
  display:grid;
  display:-ms-grid;
  place-items: center;
}
select, input{
  border-radius: 1rem;
  width: 100%;
  padding:5px;
  margin:auto;
}
select{min-width: 170px;}
#sub{
  color:white;
  background-color: #6c63ff;
  border:none;
}
#sub:hover{
  background-color: #060336;
  cursor: pointer;
}

form{
  max-width:768px;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.wrapper{
  min-height: 100vh;
  color: #000;
  font-family: 'Muli', sans-serif;
  font-size: 1rem;
  background: linear-gradient(120deg, #e671a5 0%, #ffcfa9 70%); 
  /* Gradient is an image not colour */
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.container {
  background-color: #fff;
  padding: 1em;
  min-width: 30vw;
  max-width: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-box-shadow: 0px 17px 34px -20px #f55951;
          box-shadow: 0px 17px 34px -20px #f55951;
}

.img {
  width: 200px;
  height: auto;
  border-radius: 1em 1em 0 0;
  position: relative;
}

.img__container {
  height: auto;
  overflow: hidden;
  margin-bottom: 1em;
}

.subtitle {
  font-size: 0.9rem;
  text-transform: uppercase;
  margin-bottom: 0.5em;
  font-weight: 700;
}

.content {
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding: 0 2em;
  margin-bottom: 1.8em;
}

.mail {
  padding: 0.5em 0 0.5em 1.5em;
  line-height: 3;
  width: 100%;
  border: 1px solid #d9d9d9;
  border-radius: 0.5em;
  margin-bottom: 1em;
}

::-webkit-input-placeholder {
  color: #111127;
}

:-ms-input-placeholder {
  color: #111127;
}

::-ms-input-placeholder {
  color: #111127;
}

::placeholder {
  color: #111127;
}